@import url('https://fonts.cdnfonts.com/css/graphik');
*{
    font-family: 'Graphik', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;1,500&family=Source+Code+Pro:wght@200&display=swap');

.Container{
    div{
        h1,button{
            font-family: 'Epilogue', sans-serif;
            font-family: 'Source Code Pro', monospace;;}}}